
@{
    ViewBag.Title = "用户管理";
}


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box grey-cascade">
    @*    <div class="portlet-title">*@
    @*        <div class="caption">*@
    @*            <i class="fa fa-globe"></i>Managed Table*@
    @*        </div>*@
    @*        <div class="tools">*@
    @*            <a href="javascript:;" class="collapse">*@
    @*            </a>*@
    @*            <a href="#portlet-config" data-toggle="modal" class="config">*@
    @*            </a>*@
    @*            <a href="javascript:;" class="reload">*@
    @*            </a>*@
    @*            <a href="javascript:;" class="remove">*@
    @*            </a>*@
    @*        </div>*@
    @*    </div>*@
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn green">
                            添加用户 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn green">
                            激活 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn green">
                            取消激活 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn green">
                            封禁 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn green">
                            取消封禁 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn green">
                            删除 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    
                    <form class="form-inline  pull-right" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                高级查询
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Save as PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Export to Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="accountsTable">
            <thead>
                <tr>
                    <th class="table-checkbox">
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                    </th>
                    <th>
                        用户Id
                    </th>
                    <th>
                        用户Guid
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Email已验证
                    </th>
                    <th>
                        手机
                    </th>
                    <th>
                        手机已验证
                    </th>
                    <th>
                        真实姓名
                    </th>
                    <th>
                        昵称
                    </th>
                    <th>
                        注册日期
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            @*            <tbody>*@
            @*                <tr class="odd gradeX">*@
            @*                    <td>*@
            @*                        <input type="checkbox" class="checkboxes" value="1" />*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        shuxer*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        <a href="mailto:shuxer@gmail.com">*@
            @*                            shuxer@gmail.com*@
            @*                        </a>*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        120*@
            @*                    </td>*@
            @*                    <td class="center">*@
            @*                        12 Jan 2012*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        <span class="label label-sm label-success">*@
            @*                            Approved*@
            @*                        </span>*@
            @*                    </td>*@
            @*                </tr>*@
            @*                <tr class="odd gradeX">*@
            @*                    <td>*@
            @*                        <input type="checkbox" class="checkboxes" value="1" />*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        looper*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        <a href="mailto:looper90@gmail.com">*@
            @*                            looper90@gmail.com*@
            @*                        </a>*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        120*@
            @*                    </td>*@
            @*                    <td class="center">*@
            @*                        12.12.2011*@
            @*                    </td>*@
            @*                    <td>*@
            @*                        <span class="label label-sm label-warning">*@
            @*                            Suspended*@
            @*                        </span>*@
            @*                    </td>*@
            @*                </tr>*@
            @*            </tbody>*@
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

@section styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}

@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @*<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>*@
    @*<script type="text/javascript" src="../../assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="../../assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/moment.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script type="text/javascript">
        $(function () {
            var accountsTable = $('#accountsTable');

            var dt = accountsTable.dataTable({
                //                processing: false,
                //                searching: false,
                serverSide: true,
                //                autoWidth: true,
                dom: "t<'row'<'col-xs-6'li><'col-xs-6'p>>",
                language: {
                    url: '../../assets/global/plugins/datatables/datatables_oLanguage.json'
                },
                ajax: {
                    url: '@Url.Action("AccountList")',
                    type: 'POST',
                    data: function (d) {
                        console.log(d);
                    }
                },
                columnDefs: [{
                    defaultContent: '',
                    targets: ['_all']
                }],
                columns: [
                    {
                        data: '',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>';
                        },
                        className: "center"
                    }, {
                        data: 'Id',
                        orderable: true
                    }, {
                        data: 'UserGuid',
                        orderable: false
                    }, {
                        data: 'UserName',
                        orderable: false
                    }, {
                        data: 'Email',
                        orderable: false
                    }, {
                        data: 'IsEmailVerified',
                        render: function (data, type, row) {
                            return data ? '是' : '否';
                        },
                        orderable: false
                    }, {
                        data: 'Mobile',
                        orderable: false
                    }, {
                        data: 'IsMobileVerified',
                        render: function (data, type, row) {
                            return data ? '是' : '否';
                        },
                        orderable: false
                    }, {
                        data: 'TrueName',
                        orderable: false
                    }, {
                        data: 'NickName',
                        orderable: false
                    }, {
                        data: 'Created',
                        orderable: false,
                        render: function (data, type, row) {
                            return data ? moment(data).format('YYYY-MM-DD HH:mm') : '';
                        }
                    }, {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            //                            var operators = [];
                            //                            operators.push('<div class="btn-group">');
                            //                            operators.push('<button class="view btn btn-sm btn-info" resourceId="' + row.Id + '">查看</button>');
                            //                            operators.push('<button data-toggle="dropdown" class="btn btn-sm btn-info dropdown-toggle"><span class="ace-icon fa fa-caret-down icon-only"></span></button>');
                            //                            operators.push('<ul class="dropdown-menu dropdown-default">');
                            //                            if (row.State == 0) {
                            //                                operators.push('<li><a class="edit" resourceId="' + row.Id + '">编辑</a></li>');
                            //                                operators.push('<li><a class="delete" resourceId="' + row.Id + '">删除</a></li>');
                            //                            }
                            //                            operators.push('<li><a class="copy" resourceId="' + row.Id + '">复制</a></li>');
                            //                            operators.push('</ul>');
                            //                            operators.push('</div>');
                            //                            return operators.join('');
                        }
                    }
                ],
                order: [[1, 'desc']]
            });
        });
    </script>
}