@inherits System.Web.Mvc.WebViewPage
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
@*<div ng-controller="DashboardController" class="margin-top-10">*@
<div class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="row list-separated question-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            37
                        </div>
                        <div class="uppercase question-stat-text">
                            Projects
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            51
                        </div>
                        <div class="uppercase question-stat-text">
                            Tasks
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            61
                        </div>
                        <div class="uppercase question-stat-text">
                            Uploads
                        </div>
                    </div>
                </div>
                <div class="row list-separated question-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            37
                        </div>
                        <div class="uppercase question-stat-text">
                            Projects
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            51
                        </div>
                        <div class="uppercase question-stat-text">
                            Tasks
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase question-stat-title">
                            61
                        </div>
                        <div class="uppercase question-stat-text">
                            Uploads
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->