.question-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}

.question-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}

.question-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
}




@charset "UTF-8";
/* Cubic Bezier Transition */
/***
Blog Page
***/
.question-page .bordered {
    border: 1px solid;
    border-color: #e7ecf1;
}

.question-page .question-container {
    margin-bottom: 30px;
}

.question-page .question-title > a {
    color: #4e5a64;
    font-weight: 600;
}

    .question-page .question-title > a:hover {
        color: #3598DC;
        text-decoration: none;
    }

.question-content-1 .question-img-thumb {
    overflow: hidden;
    position: relative;
}

    .question-content-1 .question-img-thumb img {
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
    }

.question-content-1 .question-post-content {
    padding: 20px 30px 30px 30px;
    background-color: #fff;
}

    .question-content-1 .question-post-content > .question-post-title {
        margin: 0 0 30px 0;
    }

        .question-content-1 .question-post-content > .question-post-title > a {
            font-size: 20px;
        }

    .question-content-1 .question-post-content > .question-post-desc {
        color: #a0a9b4;
        font-size: 14px;
        margin: 15px 0;
    }

    .question-content-1 .question-post-content > .question-post-foot > .question-post-meta {
        display: inline-block;
        margin-right: 10px;
    }

        .question-content-1 .question-post-content > .question-post-foot > .question-post-meta > a {
            color: #9aa5b2;
            font-size: 13px;
            font-weight: 600;
        }

            .question-content-1 .question-post-content > .question-post-foot > .question-post-meta > a:hover {
                color: #3598DC;
                text-decoration: none;
            }

        .question-content-1 .question-post-content > .question-post-foot > .question-post-meta > i {
            margin-right: 5px;
        }

        .question-content-1 .question-post-content > .question-post-foot > .question-post-meta:last-child {
            margin-right: 0;
        }

.question-content-1 .question-post-lg > .question-img-thumb {
    height: 480px;
}

.question-content-1 .question-post-lg > .question-post-content > .question-post-desc {
    margin-bottom: 30px;
}

.question-content-1 .question-post-lg > .question-post-content > .question-post-foot {
    border-top: 1px solid;
    border-top-color: #f0f1f2;
    padding-top: 20px;
    text-align: right;
}

    .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags {
        text-align: left;
        float: left;
        padding: 0;
    }

        .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags > li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
        }

            .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags > li > a {
                background-color: #f4f6f8;
                color: #a0a9b4;
                font-size: 11px;
                font-weight: 600;
                padding: 7px 10px;
            }

                .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags > li > a:hover {
                    background-color: #3598DC;
                    color: #fff;
                    text-decoration: none;
                }

            .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags > li:last-child {
                margin-right: 0;
            }

.question-content-1 .question-post-sm > .question-img-thumb {
    height: 200px;
}

.question-content-1 .question-post-sm > .question-post-content > .question-post-title {
    margin: 0 0 15px 0;
}

.question-content-1 .question-post-sm > .question-post-content > .question-post-foot {
    border: none;
}

.question-content-1 .question-quote {
    background-color: #fff;
    padding-bottom: 30px;
}

    .question-content-1 .question-quote > .question-quote-label {
        color: #fff;
        padding: 30px 40px 80px 40px;
        font-size: 18px;
        line-height: 28px;
    }

        .question-content-1 .question-quote > .question-quote-label > i {
            display: block;
            font-size: 30px;
            margin-bottom: 15px;
        }

    .question-content-1 .question-quote > .question-quote-avatar {
        width: 110px;
        height: 110px;
        border-radius: 50% !important;
        margin: -55px auto 25px auto;
        overflow: hidden;
    }

        .question-content-1 .question-quote > .question-quote-avatar img {
            width: 100%;
        }

    .question-content-1 .question-quote > .question-quote-author {
        text-align: center;
    }

        .question-content-1 .question-quote > .question-quote-author > .question-quote-title {
            font-size: 20px;
            margin: 0 0 15px 0;
        }

        .question-content-1 .question-quote > .question-quote-author > .question-quote-desc {
            font-size: 16px;
            color: #9aa5b2;
            margin: 0;
        }

.question-content-1 .question-video > .question-img-thumb {
    height: 330px;
}

    .question-content-1 .question-video > .question-img-thumb img {
        margin: 0;
    }

.question-content-1 .question-video > .question-video-play i {
    color: #da555b;
    background-color: rgba(0, 0, 0, 0.64);
    font-size: 35px;
    padding: 27px 20px;
    position: absolute;
    z-index: 5;
    margin: -90px 0 0 20px;
    border-radius: 50%;
}

.question-content-1 .question-video > .question-video-content {
    text-align: center;
    padding: 30px;
}

    .question-content-1 .question-video > .question-video-content > .question-video-title {
        font-size: 20px;
        margin: 0 0 15px 0;
    }

    .question-content-1 .question-video > .question-video-content > .question-video-desc {
        font-size: 16px;
        color: #9aa5b2;
        margin: 0;
    }

.question-content-1 .question-banner {
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

    .question-content-1 .question-banner > .question-banner-title > a {
        color: #fff;
    }

        .question-content-1 .question-banner > .question-banner-title > a:hover {
            color: #3598DC;
        }

.question-content-2 .question-single-content {
    padding: 40px 30px 15px 30px;
    background-color: #fff;
}

    .question-content-2 .question-single-content > .question-single-head > .question-single-head-title {
        font-size: 25px;
        font-weight: 600;
        color: #4e5a64;
        margin: 0 0 40px 0;
        display: inline-block;
    }

    .question-content-2 .question-single-content > .question-single-head > .question-single-head-date {
        float: right;
        font-size: 13px;
        font-weight: 600;
        margin-top: 7px;
    }

        .question-content-2 .question-single-content > .question-single-head > .question-single-head-date > i {
            margin-right: 5px;
        }

        .question-content-2 .question-single-content > .question-single-head > .question-single-head-date > a {
            color: #9aa5b2;
        }

            .question-content-2 .question-single-content > .question-single-head > .question-single-head-date > a:hover {
                color: #3598DC;
                text-decoration: none;
            }

    .question-content-2 .question-single-content > .question-single-img {
        margin: 0 0 35px 0;
    }

        .question-content-2 .question-single-content > .question-single-img > img {
            width: 100%;
        }

    .question-content-2 .question-single-content > .question-single-desc > p {
        margin: 0 0 35px 0;
        font-size: 16px;
        color: #7e8691;
        line-height: 24px;
    }

    .question-content-2 .question-single-content > .question-single-foot {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #f0f1f2;
        padding: 20px 0 25px 0;
        margin-bottom: 20px;
    }

        .question-content-2 .question-single-content > .question-single-foot > .question-post-tags {
            text-align: left;
            padding: 0;
            margin: 0;
        }

            .question-content-2 .question-single-content > .question-single-foot > .question-post-tags > li {
                list-style: none;
                display: inline-block;
                margin-right: 5px;
            }

                .question-content-2 .question-single-content > .question-single-foot > .question-post-tags > li > a {
                    background-color: #f4f6f8;
                    color: #a0a9b4;
                    font-size: 11px;
                    font-weight: 600;
                    padding: 7px 10px;
                }

                    .question-content-2 .question-single-content > .question-single-foot > .question-post-tags > li > a:hover {
                        background-color: #3598DC;
                        color: #fff;
                        text-decoration: none;
                    }

                .question-content-2 .question-single-content > .question-single-foot > .question-post-tags > li:last-child {
                    margin-right: 0;
                }

    .question-content-2 .question-single-content .question-comments {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin: 6px 10px 3px 0;
    }

        .question-content-2 .question-single-content .question-comments .question-comments-title {
            font-size: 20px;
        }

        .question-content-2 .question-single-content .question-comments .c-comment-list {
            margin-bottom: 60px;
        }

            .question-content-2 .question-single-content .question-comments .c-comment-list .media {
                margin: 30px 0;
            }

                .question-content-2 .question-single-content .question-comments .c-comment-list .media .media-body > .media:last-child {
                    margin-bottom: 0;
                }

            .question-content-2 .question-single-content .question-comments .c-comment-list .media-object {
                height: 50px;
                width: 50px;
                border-radius: 50px !important;
            }

            .question-content-2 .question-single-content .question-comments .c-comment-list .media-heading > a {
                color: #9aa5b2;
                font-weight: 600;
            }

                .question-content-2 .question-single-content .question-comments .c-comment-list .media-heading > a:hover {
                    color: #3598DC;
                    text-decoration: none;
                }

            .question-content-2 .question-single-content .question-comments .c-comment-list .media-heading > .c-date {
                font-size: 14px;
            }

        .question-content-2 .question-single-content .question-comments i {
            position: relative;
            top: 2px;
        }

        .question-content-2 .question-single-content .question-comments input:focus,
        .question-content-2 .question-single-content .question-comments textarea:focus {
            outline: 0;
            border: 1px solid #ccc;
        }

.question-content-2 .question-single-sidebar {
    padding: 40px 30px;
    background-color: #fff;
}

    .question-content-2 .question-single-sidebar .question-sidebar-title {
        font-weight: 600;
        font-size: 14px;
        color: #4e5a64;
        letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-search input {
        font-size: 14px;
        color: #a0a9b4;
    }

        .question-content-2 .question-single-sidebar > .question-single-sidebar-search input:focus {
            outline: 0;
            border: 1px solid #ccc;
        }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-recent > ul {
        padding: 0;
    }

        .question-content-2 .question-single-sidebar > .question-single-sidebar-recent > ul > li {
            list-style: none;
            margin-bottom: 10px;
            position: relative;
        }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-recent > ul > li > a {
                color: #49a7fa;
                font-size: 16px;
                padding-left: 20px;
                display: block;
            }

                .question-content-2 .question-single-sidebar > .question-single-sidebar-recent > ul > li > a:hover {
                    text-decoration: none;
                    color: #3598DC;
                }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-recent > ul > li:before {
                content: "•";
                color: #dae0e5;
                font-size: 30px;
                position: absolute;
                margin-top: -9px;
            }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-tags .question-post-tags {
        text-align: left;
        padding: 0;
        margin: 20px 0 0 0;
    }

        .question-content-2 .question-single-sidebar > .question-single-sidebar-tags .question-post-tags > li {
            list-style: none;
            display: inline-block;
            margin: 0 5px 20px 0;
        }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-tags .question-post-tags > li > a {
                background-color: #f4f6f8;
                color: #a0a9b4;
                font-size: 11px;
                font-weight: 600;
                padding: 7px 10px;
            }

                .question-content-2 .question-single-sidebar > .question-single-sidebar-tags .question-post-tags > li > a:hover {
                    background-color: #3598DC;
                    color: #fff;
                    text-decoration: none;
                }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-tags .question-post-tags > li:last-child {
                margin-right: 0;
            }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul {
        padding: 0;
    }

        .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul > li {
            list-style: none;
            border-bottom: 1px solid;
            border-color: #f0f1f2;
            padding: 20px 0;
        }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul > li > a {
                color: #49a7fa;
                font-size: 16px;
            }

                .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul > li > a:hover {
                    text-decoration: none;
                    color: #3598DC;
                }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul > li:first-child {
                padding-top: 0;
            }

            .question-content-2 .question-single-sidebar > .question-single-sidebar-links > ul > li:last-child {
                border: none;
            }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-ui .ui-margin {
        margin: 0;
    }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-ui .ui-padding {
        padding: 0 5px 5px 0;
    }

    .question-content-2 .question-single-sidebar > .question-single-sidebar-ui img {
        width: 100%;
    }

@media (max-width: 991px) {
    .question-content-1 .question-post-lg > .question-img-thumb {
        height: 330px;
    }

    .question-content-1 .question-post-sm > .question-img-thumb {
        height: 170px;
    }

    .question-content-1 .question-video > .question-img-thumb {
        height: 301px;
    }

        .question-content-1 .question-video > .question-img-thumb img {
            height: auto;
            width: 100%;
        }
}

@media (max-width: 480px) {
    .question-content-1 .question-post-lg > .question-post-content > .question-post-foot {
        text-align: left;
    }

        .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-tags {
            float: none;
        }

        .question-content-1 .question-post-lg > .question-post-content > .question-post-foot > .question-post-meta {
            margin-right: 10px;
            margin-top: 10px;
        }

    .question-content-2 .question-single-content > .question-single-head > .question-single-head-title {
        margin-bottom: 0px;
    }

    .question-content-2 .question-single-content > .question-single-head > .question-single-head-date {
        float: none;
        margin-bottom: 40px;
    }
}
