
@{
    ViewBag.Title = "系统工具";
}

<div class="row">
    <div class="col-sm-6">
        <h3 class="header smaller lighter blue"> 系统操作 </h3>

        <p>
            <a class="btn btn-primary" href="@Url.Action("Restart")">重启系统</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3 class="header smaller lighter blue"> 更新缓存 </h3>

        <p>
            <a class="btn btn-primary" href="#">更新缓存</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3 class="header smaller lighter blue"> 重建索引 </h3>

        <p>
            <a class="btn btn-primary" href="#" >重建索引</a>
        </p>
    </div>
</div>

