@inherits System.Web.Mvc.WebViewPage
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
@*        <li class="heading">*@
@*            <h3>GENERAL</h3>*@
@*        </li>*@
        <li class="start">
            <a href="#/home">
                <i class="icon-home"></i>
                <span class="title">控制台</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-wrench"></i>
                <span class="title">管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/roles">
                        <i class="icon-puzzle"></i> 角色
                    </a>
                </li>
                <li>
                    <a href="#/users">
                        <i class="icon-calendar"></i> 用户
                    </a>
                </li>
                <li>
                    <a href="#/auditLogs">
                        <i class="icon-refresh"></i> 审计日志
                    </a>
                </li>
                <li>
                    <a href="#/settings">
                        <i class="icon-share"></i> 设置
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>