@inherits System.Web.Mvc.WebViewPage
<div class="modal-header">
    <h3 class="modal-title">创建用户</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="accounts.createDialog.userName" class="col-lg-3 control-label">用户名:</label>
                <div class="col-lg-9">
                    <input ng-model="account.userName" id="accounts.createDialog.userName" type="text" class="form-control" name="userName" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.nickName" class="col-lg-3 control-label">昵称:</label>
                <div class="col-lg-9">
                    <input ng-model="account.nickName" id="accounts.createDialog.nickName" type="text" class="form-control" name="nickName" placeholder="昵称">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.trueName" class="col-lg-3 control-label">真实姓名:</label>
                <div class="col-lg-9">
                    <input ng-model="account.trueName" id="accounts.createDialog.trueName" type="text" class="form-control" name="trueName" placeholder="真实姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.email" class="col-lg-3 control-label">邮箱:</label>
                <div class="col-lg-9">
                    <input ng-model="account.email" id="accounts.createDialog.email" type="text" class="form-control" name="email" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.mobile" class="col-lg-3 control-label">手机:</label>
                <div class="col-lg-9">
                    <input ng-model="account.mobile" id="accounts.createDialog.mobile" type="text" class="form-control" name="mobile" placeholder="手机">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.usingRandomPassword" class="col-lg-3 control-label"></label>
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input ng-model="account.usingRandomPassword" id="accounts.createDialog.usingRandomPassword" type="checkbox"> 使用随机密码
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="!account.usingRandomPassword">
                <label for="accounts.createDialog.userName" class="col-lg-3 control-label">密码:</label>
                <div class="col-lg-9">
                    <input ng-model="account.password" id="accounts.createDialog.password" type="password" class="form-control" name="password" placeholder="密码">
                </div>
            </div>
            <div class="form-group" ng-if="!account.usingRandomPassword">
                <label for="accounts.createDialog.userName" class="col-lg-3 control-label">密码（核对）:</label>
                <div class="col-lg-9">
                    <input ng-model="account.confirmPassword" id="accounts.createDialog.confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="密码（核对）">
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.nextLoginNeedModifyPassword" class="col-lg-3 control-label"></label>
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input ng-model="account.nextLoginNeedModifyPassword" id="accounts.createDialog.nextLoginNeedModifyPassword" type="checkbox"> 下次登录需要修改密码
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.sendActivationEmail" class="col-lg-3 control-label"></label>
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input ng-model="account.sendActivationEmail" id="accounts.createDialog.sendActivationEmail" type="checkbox"> 发送激活邮件
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="accounts.createDialog.isActive" class="col-lg-3 control-label"></label>
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input ng-model="account.isActive" id="accounts.createDialog.isActive" type="checkbox"> 激活
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="save()">提交</button>
</div>
